// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.jumbotron-extend{
  height: 300px;
  background: url("背景.jpeg") no-repeat;
  background-size: 100% 100%;
}
.jumbotron-title{
  color:#0000ff;
  position: relative;
  top:20%;
  left:38%;
  font-weight: bold;
  font-size: 3em;
}
.inline-block{
  display: inline-block;
  vertical-align: top;
  margin-left: 15px;
}
.info-box{
  width:430px;
  height:280px;
  padding: 20px;
  line-height: 2;
}
