%h2= t ('.title')
= link_to "#{t '.back_to_user_show'}", user_path(@comp_result.user.id), class: "btn btn-primary"
= render 'shared/run_record', object: @comp_result, path: competition_result_run_record_path(@comp_result)
